.cache
.classpath
.idea/**
.class
.metadata
.settings
.project
.version.properties
filter.properties
target
target/*
tmp
*.class
*.iml
*.swp
*.jar
*.zip
*.log
*.pyc
.DS_Store
benchmark
benchmark/*
dependency-reduced-pom.xml
**/dependency-reduced-pom.xml
hosts.txt
car.dat
heapdump*
javacore*
Snap*
dependency-reduced-pom*
dump.rdb
*.pkl
nohup.out
test_server.py
sdv.out
sdv/*
!sdv/sdv_server.py
!sdv/create_new_model.py
!sdv/process_results.py
!sdv/process_data.py
setup.yaml
nyt-data*
sorted_data.csv
results*
*.png
*.txt
